<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">

        <div ng-include="character_sum ? 'modules/core/views/partials/summary.client.part.html' : 'modules/core/views/partials/welcome.client.part.html'"></div>
        <!--<div ng-include src="'modules/core/views/partials/welcome.client.part.html'"></div>-->
	</div>

	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>R</strong>ace
			</h2>
			<p>People of varying size, shape, and color, dressed in a dazzling spectrum
                of styles and hues—represent many <a href="/#!/all_races">different races</a>.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>C</strong>lass
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>P</strong>ersonality
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>M</strong>agic
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>
	<div class="well">
		<!--<h3>MyCharacterBuilder</h3>-->
		<p>
			You have the ability to create and play a single D&amp;D 5th Edition character, by taking a personality test.
            I hope you enjoy this app. But this is only an assistant platform, there's no substitute for the Wizards of the Coast
            books & a smart DM.
		</p>
	</div>
</section>
