<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">

        <div ng-include="character_sum ? 'modules/core/views/partials/summary.client.part.html' : 'modules/core/views/partials/welcome.client.part.html'"></div>
        <!--<div ng-include src="'modules/core/views/partials/welcome.client.part.html'"></div>-->
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>R</strong>ace
			</h2>
			<p>People of varying size, shape, and color, dressed in a dazzling spectrum
                of styles and hues—represent many <a href="/#!/races">different races</a>.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>C</strong>lass
			</h2>
			<p>Class is the primary definition of what your character can do. It’s more than a profession;
                it’s your <a href="/#!/jobs">character’s calling</a>.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>P</strong>ersonality
			</h2>
			<p>Individuals have <a href="/#!/personalities">their own stories</a>, interests, connections, and
                capabilities beyond those that class and race define.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>F</strong>actions
			</h2>
			<p>
                Characters can join a group, in order to be apart of something bigger than themselves.
                In <a href="/#!/factions">a faction</a>,
                a character can earn renown points an gain special benefits.
            </p>
		</div>
	</div>

    <div class="row">
        <div class="col-md-3">
            <!--<h2>
                <strong>R</strong>ace
            </h2>
            <p>People of varying size, shape, and color, dressed in a dazzling spectrum
                of styles and hues—represent many <a href="/#!/races">different races</a>.</p>-->
        </div>
        <div class="col-md-3">
            <h2>
                <strong>E</strong>quipment
            </h2>
            <p>For an adventurer armor, weapons, backpacks, rope, and similar
                goods is of paramount importance, since proper equipment can mean the difference
                between life and death.</p>
        </div>
        <div class="col-md-3">
            <h2>
                <strong>S</strong>kills
            </h2>
            <p>A skill represents a specific aspect of an ability score, and an individual’s
                proficiency in a skill demonstrates a focus on that aspect.</p>
        </div>
        <div class="col-md-3">
            <h2>
                <strong>M</strong>agic
            </h2>
            <p>
                A spell is a discrete magical effect that suffuse the multiverse
                into a specific, limited expression. In <a href="/#!/spells">casting a spell</a>,
                a character carefully plucks at the invisible strands of raw magic.
            </p>
        </div>
    </div>

    </br>
	<div class="well">
		<!--<h3>MyCharacterBuilder</h3>-->
		<p>
			You have the ability to create and play a single D&amp;D 5th Edition character, by taking a personality test.
            I hope you enjoy this app. But this is only an assistant platform, there's no substitute for the Wizards of the Coast
            books & a clever DM.
		</p>
	</div>
</section>
