<style>
    .fancy-border {
        border-top: 2px dashed #046ca3;
        border-bottom: 1px dashed #046ca3;
        box-shadow: inset 0 -1px 0 0 #046ca3, inset 0 1px 0 0 #046ca3, 0 1px 0 0 #046ca3, 0 -1px 0 0 #046ca3;
        margin-bottom: 5px;
        text-align: center;
        font: italic bold 12px/30px Georgia, serif;
    }
    #oval {
        width: 80%;
        height: 30px;
        background: #CEF6F5;
        -moz-border-radius: 100px / 50px;
        -webkit-border-radius: 100px / 50px;
        border-radius: 100px / 50px;
        text-align: center;
        display:inline-block;
        vertical-align: middle;
        font-size: 1.3em;
    }

</style>

<section data-ng-controller="CharactersController" data-ng-init="preload02()">
    <div class="page-header">
        <h1 data-ng-bind="character.name"></h1>
    </div>

    <div class="row">
        <div class="col-md-2">

            <div class="fancy-border text-center" ng-repeat="att in ['str','dex','con','int','wis','cha']">
                &nbsp;{{ fullNamesAttr[att] }}&nbsp;
                {{character.attributes[att]}}
                <p id="oval">{{ getMod(character.attributes[att]) }}</p>
            </div>
            </br>

        </div>

        <div class="col-md-10">
            <a data-ng-href="#!/races/{{race._id}}"> <div class="col-md-3" style="background-color:#D1FFFF;"> <h4 style="display: inline-block">Race :</h4> {{race.name}} </div></a>
            <a data-ng-href="#!/races/{{race._id}}"> <div class="col-md-3" style="background-color:#52ff6a;"> <h4 style="display: inline-block">Class :</h4> {{race.name}} </div></a>
            <a data-ng-href="#!/personalities/{{personality._id}}"> <div class="col-md-3" style="background-color:#fffa9e;"> <h4 style="display: inline-block">Personality :</h4> {{personality.name}} </div></a>





        </div>
    </div>



    </div>



</section>