<!--<section data-ng-controller="FactionsController" >-->
    <section data-ng-controller="FactionsController" data-ng-init="preLoad()" >
    <div class="page-header">
        <h1>Create a New Faction</h1>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <input type="hidden" id="image64-box" ng-model="image64" />

            <fieldset>

                <div class="col-md-4">
                <canvas id="myCanvas" width="250" height="380" style="border:1px solid #000000;">
                    Your browser does not support HTML5 Canvas element.
                </canvas>
                </div>


                <div class="form-group col-md-8">
                    <div class="controls col-md-12">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Guild/Faction Name" required>
                    </div>
                    </div>



                    <div class="controls col-md-4">
                        <label class="control-label" for="img1">Pick an Icon: </label>
                        <select id="img1" ng-model="banner_icon" ng-change="choose_image()" ng-options="img for img in pick_images" required></select>

                    </div>


                    <div class="controls col-md-1">

                        <label class="control-label" for="colorselector_1">Left: </label>

                        <select id="colorselector_1" ng-model="color1" ng-change="choose_image()">
                            <option value="#FFFFFF" data-color="#FFFFFF">White</option>
                            <option value="#A0522D" data-color="#A0522D">Sienna</option>
                            <option value="#CD5C5C" data-color="#CD5C5C">Indian Red</option>
                            <option value="#FF4500" data-color="#FF4500">Orange Red</option>
                            <option value="#008B8B" data-color="#008B8B">Dark Cyan</option>
                            <option value="#B8860B" data-color="#B8860B">Dark Goldenrod</option>
                            <option value="#32CD32" data-color="#32CD32">Lime Green</option>
                            <option value="#FFD700" data-color="#FFD700">Gold</option>
                            <option value="#48D1CC" data-color="#48D1CC">Medium Turquoise</option>
                            <option value="#87CEEB" data-color="#87CEEB">Skyblue</option>
                            <option value="#FF69B4" data-color="#FF69B4">Hot Pink</option>
                            <option value="#87CEFA" data-color="#87CEFA">Light Skyblue</option>
                            <option value="#6495ED" data-color="#6495ED">Cornflower Blue</option>
                            <option value="#DC143C" data-color="#DC143C">Crimson</option>
                            <option value="#FF8C00" data-color="#FF8C00">Dark Orange</option>
                            <option value="#C71585" data-color="#C71585">Medium Violet Red</option>
                            <option value="#000000" data-color="#000000">Black</option>
                        </select>
                    </div>

                    <div class="controls col-md-1">

                        <label class="control-label" for="colorselector_1">Right: </label>

                        <select id="colorselector_2" ng-model="color2" ng-change="choose_image()">
                            <option value="#87CEFA" data-color="#87CEFA">Light Skyblue</option>
                            <option value="#A0522D" data-color="#A0522D">Sienna</option>
                            <option value="#FFFFFF" data-color="#FFFFFF">White</option>
                            <option value="#CD5C5C" data-color="#CD5C5C">Indian Red</option>
                            <option value="#FF4500" data-color="#FF4500">Orange Red</option>
                            <option value="#008B8B" data-color="#008B8B">Dark Cyan</option>
                            <option value="#B8860B" data-color="#B8860B">Dark Goldenrod</option>
                            <option value="#32CD32" data-color="#32CD32">Lime Green</option>
                            <option value="#FFD700" data-color="#FFD700">Gold</option>
                            <option value="#48D1CC" data-color="#48D1CC">Medium Turquoise</option>
                            <option value="#87CEEB" data-color="#87CEEB">Skyblue</option>
                            <option value="#FF69B4" data-color="#FF69B4">Hot Pink</option>
                            <option value="#6495ED" data-color="#6495ED">Cornflower Blue</option>
                            <option value="#DC143C" data-color="#DC143C">Crimson</option>
                            <option value="#FF8C00" data-color="#FF8C00">Dark Orange</option>
                            <option value="#C71585" data-color="#C71585">Medium Violet Red</option>
                            <option value="#000000" data-color="#000000">Black</option>
                        </select>
                    </div>

                    <div class="controls col-md-2">
                        <label class="control-label" for="lang">Alignments: </label>
                        <select class="multiselect" id="lang" data-ng-model="aligns"
                                ng-options="item for item in possible_alignments" multiple="multiple"
                                multiselect-dropdown></select>
                    </div>

                <div class="controls col-md-12">
                    <label class="control-label" for="name">Motto</label>
                    <div class="controls">
                        <input type="text" data-ng-model="motto" id="motto" class="form-control" placeholder="What do we stand for?" required>
                    </div>
                </div>


                    <div class="controls col-md-12">
                        <label class="control-label" for="imgpath">Text Descriptions of Attitudes: </label>

                        <table class="table table-striped">
                            <tbody ng-repeat="txt in attitudes track by $index">
                            <tr>
                                <th>{{$index+1}}: {{txt.title}}</th>
                                <td>{{txt.desc}}</td>
                                <td><a class="btn btn-danger btn-sm" data-ng-click="remove_attitude($index)">X</a></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="controls col-md-3">
                            <label class="control-label" for="desc_tile">Title: </label>
                            <input type="text" id="desc_tile" data-ng-model="new_descriptor_title"
                                   class="form-control"/>
                        </div>
                        <div class="controls col-md-8">
                            <label class="control-label" for="desc_txt">Text: </label>
                            <input type="text" id="desc_txt" data-ng-model="new_descriptor_text" class="form-control"/>
                        </div>
                        <a class="btn btn-success btn-sm pull-right" style="margin-top: 25px;"
                           data-ng-click="add_attitude()">+</a>
                    </div>




                    <div class="controls col-md-12">
                        <label class="control-label" for="imgpath">Requirement(s) to Join: </label>

                        <table class="table table-striped">
                            <tbody ng-repeat="txt in join_requirements track by $index">
                            <tr>
                                <th>{{$index+1}}: {{txt.title}}</th>
                                <td>{{txt.desc}}</td>
                                <td><a class="btn btn-danger btn-sm" data-ng-click="remove_req($index)">X</a></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="controls col-md-3">
                            <label class="control-label" for="desc_tile">Title: </label>
                            <input type="text" id="desc_tile" data-ng-model="new_descriptor_title2"
                                   class="form-control"/>
                        </div>
                        <div class="controls col-md-8">
                            <label class="control-label" for="desc_txt">Text: </label>
                            <input type="text" id="desc_txt" data-ng-model="new_descriptor_text2" class="form-control"/>
                        </div>
                        <a class="btn btn-success btn-sm pull-right" style="margin-top: 25px;"
                           data-ng-click="add_requirement()">+</a>
                    </div>


                </div>

                <div class="form-group">

                    <div class="controls col-md-12">
                        <label class="control-label" for="imgpath">Titles & Perks: </label>

                        <table class="table table-striped">
                            <thead>
                            <tr><th>Title</th><th>Renown</th><th>Perk</th></tr>
                            <thead>
                            <tbody ng-repeat="rk in ranks track by $index">
                            <tr>
                                <th>{{$index+1}}: {{rk.title}}</th>
                                <td>{{rk.renown}}</td>
                                <td>{{rk.perk}}</td>
                                <td><a class="btn btn-danger btn-sm" data-ng-click="remove_rank($index)">X</a></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="controls col-md-2">
                            <label class="control-label" for="rk_renown">Renown: </label>
                            <input type="number" data-ng-model="rank_renown" id="rk_renown" class="form-control" min="0" max="1000"/>
                        </div>

                        <div class="controls col-md-6">
                            <label class="control-label" for="desc_tile">Title: </label>
                            <input type="text" id="desc_tile" data-ng-model="rank_title" class="form-control"/>
                        </div>

                        <div class="controls col-md-1">
                        <a class="btn btn-success btn-sm pull-right" style="margin-top: 25px;"
                           data-ng-click="add_rank()">+</a>
                        </div>

                        <div class="controls col-md-12">
                            <label class="control-label" for="desc_txt">Perk Text: </label>
                            <input type="text" id="desc_txt" data-ng-model="rank_text" class="form-control"/>
                        </div>

                    </div>


                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>

            </fieldset>
        </form>
    </div>
</section>


<script>

    $(function() {
        $('#colorselector_1').colorselector();
        $('#colorselector_2').colorselector();
    });
</script>