<section data-ng-controller="RacesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="race.name"></h1>
	</div>

    <div class="row">

    <div class="col-md-3 col-sm-4  col-xs-3">
        <img alt="thisQuestion Image" class="img-responsive text-center" src="{{race.profile_image}}" />
        <small class="list-group-item-text col-md-offset-2 col-sm-offset-2">
            <strong>Age:</strong>
            <span data-ng-bind="race.age"></span>
            <strong>Speed:</strong>
            <span data-ng-bind="race.speed"></span>
            <strong>Size:</strong>
            <span data-ng-bind="race.size"></span>
        </small>
    </div>

    <div class="col-md-3 col-sm-5  col-xs-3">

        <table class="table table-striped col-md-offset-1" style="width: 500px">
            <thead><tr><th>Category</th><th>Value</th></tr></thead>
            <tbody ng-repeat="(_key_, _value_) in race.enhancers">
            <tr>
                <td>{{_key_}}</td>
                <td>{{_value_}}</td>
\            </tr>
            </tbody>
        </table>



    </div>


    </div>

    <div class="row">
        </br>
        <div class="table table-striped col-md-offset-1" ng-repeat="desc in race.descriptors">
                <p ng-bind-html="desc"></p>
        </div>

    </div>


</section>