<section data-ng-controller="RacesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="race.name"></h1>
        <a class="btn btn-primary pull-right" href="/#!/races/{{race._id}}/edit">Edit {{race.name}}</a>
    </div>

    <div class="row">

        <div class="col-md-3 col-sm-4  col-xs-3">
            <img alt="thisQuestion Image" class="img-responsive text-center" src="{{race.profile_image}}"/>
            <small class="list-group-item-text col-md-offset-2 col-sm-offset-2">
                <strong>Age:</strong>
                <span data-ng-bind="race.age"></span>
                <strong>Speed:</strong>
                <span data-ng-bind="race.speed"></span>
                <strong>Size:</strong>
                <span data-ng-bind="race.size"></span>
            </small>
        </div>

        <div class="col-md-7 col-sm-5  col-xs-3">

            <div class="row">

                <div class="col-md-2 col-sm-2  col-xs-1">
                    <table class="table table-striped col-md-offset-1">
                        <thead>
                        <tr>
                            <th>Language(s)</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="equip in race.languages">
                        <tr>
                            <td>{{equip}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-2 col-sm-2  col-xs-1">
                    <table class="table table-striped col-md-offset-1">
                        <thead>
                        <tr>
                            <th>Bonuses</th>
                        </tr>
                        </thead>
                        <tbody data-ng-repeat="(attr,val) in filterAttrBonuses(race.attribute_bonuses)">
                        <tr>
                            <th>{{attr.toUpperCase()}}</th>
                            <td>{{val}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row" ng-show='race.enhancers.length > 0'>

                <table class="table table-striped col-md-offset-1 col-md-7">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <!--<th>Catagory</th>-->
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in race.enhancers">
                    <tr>
                        <td>{{item.title}}</td>
                        <td>{{item.desc}}</td>
                        <!--<td>{{item.action}}</td>-->
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>
    </div>

    <div class="row">
            </br>
            <div class="col-md-offset-1" ng-repeat="desc in race.descriptors">
                <h4 ng-bind-html="desc.title"></h4>

                <p ng-bind-html="desc.desc"></p></br>
            </div>

        </div>


</section>