<section data-ng-controller="QuestionsController">
    <div class="page-header">
        <h1>Make a New Question</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="text">Question Text:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="text" id="text" class="form-control" placeholder="What should I ask?" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="support_image">Path to Server Image:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="support_image" id="support_image" class="form-control" placeholder="Image must already exist on server" >
                    </div>
                </div>


                <div id='post' ng-repeat="ans in answers track by $index">


                <div class="form-group">
                    <label class="control-label" for="answer_{{$index}}">Answer #{{$index+1}}:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ans.text" id="answer_{{$index}}" class="form-control" placeholder="Text" >
                        <input type="text" data-ng-model="ans.leads_to" id="answer_lt_1" class="form-control" placeholder="Next Question Id" >
                    </div>
                </div>


                <div class="form-group form-inline" >
                    <label class="control-label" for="imp_c_{{$index+1}}">Append an Impact to Answer #{{$index+1}}:</label>
                    <div class="controls  col-md-offset-1">
                        <input type="text" data-ng-model="imp.category" id="imp_c_{{$index+1}}" ng-blur="update_impact($index, imp)" class="form-control" placeholder="Category" >
                        <input type="text" data-ng-model="imp.value" id="imp_v_{{$index+1}}" ng-blur="update_impact($index, imp)" class="form-control" placeholder="Value" >
                        <input type="text" data-ng-model="imp.weight" id="imp_w_{{$index+1}}" ng-blur="update_impact($index, imp)" class="form-control" placeholder="Weight" >
                    </div>

                    <div class="controls  col-md-offset-1" ng-repeat="makeImp in ans.impacts">
                        <input type="text" class="form-control" value="{{makeImp.category}}" readonly>
                        <input type="text" class="form-control" value="{{makeImp.value}}" readonly>
                        <input type="text" class="form-control" value="{{makeImp.weight}}" readonly>
                    </div>


                </div>


                </div>



                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>