<section data-ng-controller="QuestionsController" data-ng-init="findUserCurrent()">
    <div class="page-header col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">

        <div class="col-md-offset-1" data-ng-show="question.support_image !== null">
            <img alt="thisQuestion Image" class="img-responsive text-center" data-ng-src="{{question.support_image}}"/>
            <!--style="width: 50px; height: 60px" />-->
        </div>
        <h1 class="text-center" data-ng-bind="question.text"></h1>

        <form class="form-horizontal" data-ng-submit="myAnswers()" novalidate>
            <div class="col-md-offset-2" ng-repeat="ans in question.answers track by $index">
                <input class="btn btn-info" type="submit" ng-click="choose($index)" value="{{ans.text}}"/>
            </div>
        </form>


    </div>


</section>