<section data-ng-controller="QuestionsController" data-ng-init="findOne()">
	<div class="page-header">
        <h1 data-ng-bind="question.text"></h1>
        <div class="row">
            <div class="col-md-3">
                <h3 data-ng-bind="question._id"></h3>
            </div>
            <div class="col-md-3 pull-right" data-ng-if="authentication.user.roles.indexOf('admin') === 1;">
                <a class="btn btn-primary"  href="/#!/questions/{{question._id}}/edit" >Edit</a>
            </div>
        </div>
	</div>
	<!--<div class="pull-right" data-ng-show="authentication.user._id == question.user._id">
		<a class="btn btn-primary" href="/#!/questions/{{question._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>-->

    <div id='post' ng-repeat="ans in question.answers track by $index">
         <h2>#{{$index+1}}: {{ans.text}}</h2>
    <small class="">
		<em class="text-muted">
			Links to: <a href="/#!/questions/{{ans.lead_to}}">{{ans.lead_to}}</a>
        </em>
    </small>

        <table class="table table-striped col-md-offset-1" style="width: 500px">
                <thead><tr><th>Category</th><th>Value</th><th>Weight</th></tr></thead>
			<tbody ng-repeat="imp in ans.impacts">
                <tr>
                    <td>{{imp.category}}</td>
                    <td>{{imp.value}}</td>
                    <td>{{imp.weight}}</td>
                </tr>
            </tbody>
            </table>

    </div>


   <div class="col-md-offset-2" data-ng-show="question.support_image !== null">
       </br>
       <img alt="thisQuestion Image" class="img-responsive text-center" src="{{question.support_image}}" />
            <!--style="width: 50px; height: 60px" />-->
   </div>

</section>