<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="FullyArmoredAdventuringParty" class="img-responsive text-center" src="modules/core/img/brand/FullyArmoredAdventuringParty.jpg" />
    </div>
</div>
<br>
<div class="row">
    <p class="lead">
    <h2>Congrats! You're ready to start a new adventure.</h2>
    <p>You can create your very own character based on your own personality.</p>
    </p>
</div>
<div class="row">
    <p>
        <a class="btn btn-primary btn-lg" href="/#!/characters/create" >Begin Your Character</a>
    </p>
</div>